{% extends 'bash.html' %}
{% load static %}
{% block container %}

    <div class="boxed_wrapper">

        <!-- mouse-pointer -->

        <!-- mouse-pointer end -->


        <!-- preloader -->
       {% include 'preloader.html' %}
        <!-- preloader end -->


        <!--Search Popup-->



        <!-- sidebar cart item -->
        {% include 'sidebar.html' %}
        <!-- END sidebar widget item -->


        <!-- main header -->
       {% include 'header.html' %}
        <!-- main-header end -->

        <!-- Mobile Menu  -->

        <!-- End Mobile Menu -->


        <!-- page-title -->
        <section class="page-title centred">
            <div class="outer-container">
                <div class="bg-layer" style="background-image: url(assets/images/background/page-title.jpg);"></div>
                <div class="large-container">
                    <div class="title-box">
                        <h2>Our Team</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- team-page-section -->
        <section class="team-page-section">
            <div class="large-container">
                <div class="tabs-box">
                    <div class="tab-btn-box centred">
                        <ul class="tab-btns tab-buttons clearfix">
                            <li class="tab-btn active-btn" data-tab="#tab-1">Web Development</li>
                            <li class="tab-btn" data-tab="#tab-2">UI/UX Design</li>
                            <li class="tab-btn" data-tab="#tab-3">Graphics Design</li>
                        </ul>
                    </div>
                    <div class="tabs-content">
                        <div class="tab active-tab" id="tab-1">
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-1.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">01</span>
                                                <h4><a href="team-details.html">Gaurav Bhalla</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-2.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">02</span>
                                                <h4><a href="team-details.html">Haris Gulati</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-3.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">03</span>
                                                <h4><a href="team-details.html">Michel Watson</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-4.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">01</span>
                                                <h4><a href="team-details.html">Gaurav Bhalla</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-5.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">02</span>
                                                <h4><a href="team-details.html">Haris Gulati</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-6.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">03</span>
                                                <h4><a href="team-details.html">Michel Watson</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-2">
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-5.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">02</span>
                                                <h4><a href="team-details.html">Haris Gulati</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-6.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">03</span>
                                                <h4><a href="team-details.html">Michel Watson</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-1.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">01</span>
                                                <h4><a href="team-details.html">Gaurav Bhalla</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-2.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">02</span>
                                                <h4><a href="team-details.html">Haris Gulati</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-3.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">03</span>
                                                <h4><a href="team-details.html">Michel Watson</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-4.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">01</span>
                                                <h4><a href="team-details.html">Gaurav Bhalla</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-3">
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-3.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">03</span>
                                                <h4><a href="team-details.html">Michel Watson</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-4.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">01</span>
                                                <h4><a href="team-details.html">Gaurav Bhalla</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-5.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">02</span>
                                                <h4><a href="team-details.html">Haris Gulati</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-6.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">03</span>
                                                <h4><a href="team-details.html">Michel Watson</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-1.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">01</span>
                                                <h4><a href="team-details.html">Gaurav Bhalla</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/team/team-2.jpg" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">02</span>
                                                <h4><a href="team-details.html">Haris Gulati</a></h4>
                                                <span class="designation">Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-page-section end -->


        <!-- main-footer -->
       {% include 'footer.html' %}
        <!-- main-footer end -->



        <!--Scroll to top-->
        <div class="scroll-to-top">
            <div>
                <div class="scroll-top-inner">
                    <div class="scroll-bar">
                        <div class="bar-inner"></div>
                    </div>
                    <div class="scroll-bar-text">Go To Top</div>
                </div>
            </div>
        </div>
        <!-- Scroll to top end -->
        
    </div>


{% endblock %}