{% extends 'bash.html' %}
{% block title %} {{infos.company}} || {{infos.team_page_title}} {% endblock %}
{% load static %}
{% block container %}

    <div class="boxed_wrapper">

        <!-- mouse-pointer -->

        <!-- mouse-pointer end -->


        <!-- preloader -->
       {% include 'preloader.html' %}
        <!-- preloader end -->


        <!--Search Popup-->



        <!-- sidebar cart item -->
        {% include 'sidebar.html' %}
        <!-- END sidebar widget item -->


        <!-- main header -->
       {% include 'header.html' %}
        <!-- main-header end -->

        <!-- Mobile Menu  -->

        <!-- End Mobile Menu -->


        <!-- page-title -->
        <section class="page-title centred">
            <div class="outer-container">
                <div class="bg-layer" style="background-image: url({{infos.team_page_title_background.url}});"></div>
                <div class="large-container">
                    <div class="title-box">
                        <h2>{{infos.team_page_title}}</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- team-page-section -->
        <section class="team-page-section">
            <div class="large-container">
                <div class="tabs-box">
                    <div class="tab-btn-box centred">
                        <ul class="tab-btns tab-buttons clearfix">
                            {% for skill in skills %}
                            <li class="active-btn"  > <a href="{% url 'team' %}?q={{skill.skill_name}} ">{{skill.skill_name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tabs-content">

                        <div class="tab active-tab" >
                            <div class="row clearfix">
                                {% for teamMember in professional %}

                                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                    <div class="team-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="{{teamMember.profile.url}}" alt=""></figure>
                                                <ul class="social-links clearfix">
                                                    <li><a href="https://{{teamMember.facebook}}"><i class="icon-3"></i></a></li>
                                                    <li><a href="https://{{teamMember.instagram}}"><i class="icon-4"></i></a></li>
                                                    <li><a href="https://{{teamMember.twitter}}"><i class="icon-5"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="content-box">
                                                <span class="count-text">{{forloop.counter}}</span>
                                                <h4><a href="{% url 'team-details' teamMember.id %}">{{teamMember.name}}</a></h4>
                                                <span class="designation">{{teamMember.title}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- team-page-section end -->


        <!-- main-footer -->
       {% include 'footer.html' %}
        <!-- main-footer end -->



        <!--Scroll to top-->
        <div class="scroll-to-top">
            <div>
                <div class="scroll-top-inner">
                    <div class="scroll-bar">
                        <div class="bar-inner"></div>
                    </div>
                    <div class="scroll-bar-text">Go To Top</div>
                </div>
            </div>
        </div>
        <!-- Scroll to top end -->
        
    </div>


{% endblock %}